@model WebApplication8.Models.OrderDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBEnd.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderTable.Ord_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTable.Ord_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.P_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.P_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrDetail_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
